.card__container {
  object-fit: contain;
  position: relative;
  height: 250px;
  box-shadow: 0px 15px 15px -15px #111;    
  margin-bottom: 20px;
}
.card__headshot {
  max-height: 50px;
  min-width: 50px;
  border-radius: 100%;
  display: inline-block;
  z-index: 99;
}
.card__content {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 1rem;
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, 
              rgba(0, 0, 0, 0.40) 50%, rgba(0, 0, 0, 0)100%);
}

.card__description {
  color: white;
  font-family: "Merriweather", serif;
  font-weight: 300;
  margin-left: 1rem;
}
.card__location {
  text-transform: uppercase;
  font-weight: 800;
  color: black;
  padding: 0.25rem 1.25rem;
  background-color: #ffd600;
  font-family: "Monda", sans-serif;
  transform: skewX(-35deg);
  font-size: 0.65em;

  display: inline-block;
  vertical-align: top;
  margin-bottom: 0.25rem;
}
.card__location .fix{  
  transform: skewX(35deg) !important;
}
.user__name {
  font-family: "Monda", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  font-size: 0.65rem;
  margin-bottom: 0.375rem;
  margin-left: 1rem;
}

.bookmark {
display:inline-block;
top:0;
}


